.card{
    background: rgb(33, 33, 33) !important;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
}
.card:hover{
    background: rgb(144, 144, 144) !important;
    transform: scale(1.01);
}
.bg{
    background-color: rgb(54, 54, 54);
}